[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
sklearn = "*"
pandas = "*"
joblib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
